.detail {
  padding: 60px 200px 60px 200px;
}

img {
  height: 300px;
  width: 100%;
}

.detail__container {
  margin: 0 20px 0 20px;
}

.detail__title-rating {
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--color-light-sky);
  padding: 10px 50px 10px 50px;
  margin-bottom: 20px;
}

.detail__summary {
  background-color: var(--color-light-sky-2);
  font-size: 1.2rem;
  padding: 50px;
}

@media screen and (max-width: 768px) {
  .detail {
    padding: 30px;
  }
}
