.movie {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: 1px solid var(--color-light-sky);
  background-color: var(--color-white);
  padding: 0px;
  box-shadow: 0 13px 20px -5px rgba(201, 201, 207, 0.1),
    0 8px 16px -8px rgba(0, 0, 0, 0.1);
  position: relative;
  flex: 1 0 20%;
}

.movie:hover {
  opacity: 0.8;
}

.movie img {
  width: 100%;
  height: 330px;
  transition: all 300ms ease;
}

.movie__data {
  padding: 20px;
  height: 30%;
}

.movie__title-year {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.movie__director {
  margin-bottom: 10px;
}

.movie__rating {
  position: absolute;
  top: 10px;
  right: 20px;
  border-radius: 20px;
  background-color: var(--color-light-sky);
  padding: 10px;
}

.movie__categories {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.movie__categories li {
  color: var(--color-blue);
  margin-right: 10px;
  border: 1px solid var(--color-light-blue);
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
}
